body{
    font-family: Poppins;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.testimonial-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    border: 2px solid #ffd700; /* gold border */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    }
  }
.testimonial-card:hover .star-rating {
    text-shadow: 0 0 5px #ffd700; /* Minimal glow effect */
    -webkit-text-stroke: 1px black; /* Black border around star shapes */
  /* border: 1px solid black; Adds a slight black border on hover */
}

.profile img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.02);
    }
}  
.profile h3{
    font-size: 1.8em;
    margin: 0;
    color: #333; 
}
.profile .role{
    font-size: 0.9rem;
    color: #777;
    margin: 5px 10px 15px;
}
.testimonial{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
    margin: 0 0 15px; 
}
.star-rating {
  color: #ffd700; /* Gold color for stars */
  font-size: 24px; /* Adjust size */
  -webkit-text-stroke: 0px black; /* Initially no border around stars */
  
}
